/* *{
    border: 1px dashed red;
} */
html {
    background-color: rgba(190, 252, 245, 0.473);
    width: 520px;
    height: auto;
    margin: auto;
}
h3 {
    margin-right: auto;  

}
.post {
    width: 510px;
    background-color: rgb(236, 187, 213);
    height: auto;
    outline-offset: 10px;
    border-radius: 5%;
    overflow: hidden;
}
svg {
    font-size: 1rem;
    height: fit-content;
}
#bookmark {
    font-size: 1rem;
    justify-content: space-between;
    margin-left: auto;
    float: right;
}
.post-header {
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-inline: 1rem;
}
#profile {
    width: 70px;
    height: 65px;
    display: flex;
}   
#dots {
    width: 15px;
    height: 25px;
}
.fa heart {
    font-size: 1rem;
    width: 15px;
    height: fit-content;
}
.post-body {
    font-family: Roboto-type;
    padding-inline: 10px;
}
.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: inherit;
 }