*{
    border: 1px dashed red;
}
html {
    background-color: rgb(233, 100, 171);
    width: 520px;
    height: auto;
}
.post {
    width: 580px;
    background-color: white;
    height: auto;
    outline-offset: 10px;
}
svg {
    font-size: 1rem;
    height: fit-content;
}
heart {
    font-size: 1rem;
}
bookmark {
    height: fit-content;
    justify-content: space-between;
    font-size: 1rem;
    display: flex;
}
.post-header {
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-inline: 1rem;

}
#profile {
    width: 70px;
    height: 75px;
    display: flex;
}   
#dots {
    width: 15px;
    height: 25px;
}
.fa heart {
    width: 15px;
    height: 20px;
}
.post body {
    font-family: Roboto-type;

}